.banner{
    height: 80vh;
}


.about-counter{
    margin-top: -40px;
}


.catagories-card{
    height: 250px;
    width: 200px;
}

.type-card{
    height: 60%;
    
}

.type-icon{
    color: brown;
    height: 20%;
    

}