.banner{
    height: 80vh;
}


.about-counter{
    margin-top: -40px;
}


.catagories-card{
    height: 250px;
    width: 200px;
}

.type-card{
    height: 60%;
    
}

.type-icon{
    color: brown;
    height: 20%;
}

.subscribe-section{
    margin-bottom: -50px;
    position: relative;
}

.footer {
    background-color: #120F2D;
    height: 90vh;
}

.footer-content{
    
    bottom: 0;
    
}